Adobe Premiere Pro Auto-Save/
*.bak
autosave
*-autosave.ustx
OPUTAU/敢骂我刘产-autosave.ustx
OPUTAU/欢欢乐乐结构化 diffsinger-autosave.ustx
OPUTAU/欢欢乐乐结构化-autosave.ustx
OPUTAU/刘产纲目-autosave.ustx
OPUTAU/像芡一样啊-autosave.ustx
OPUTAU/test-autosave.ustx
OPUTAU/unfinished school-autosave.ustx
OPUTAU/Export/欢欢乐乐结构化 diffsinger-01.wav
cubase/Audio/
desktop.ini
呢.prproj_19-11-2022_23-4-46.log
呢.prproj_26-6-2022_1-50-3.log
Adobe After Effects 自动保存/
Adobe Premiere Pro Captured Audio/nope/音频 1_10.wav
Adobe Premiere Pro Captured Audio/
Adobe Premiere Pro Video Previews/
cubase/Images/
欢欢乐乐结构化_AME/
未命名混音项目 1/
未命名混音项目 2/
像chan一样呐_AME/
工程/
T1班歌咏比赛(2)/
歌咏比赛/
欢欢乐乐结构化 和谐_AME/
总段自动保存 76文件夹/
Adobe Premiere Pro Audio Previews/
